{%extends 'base.html'%}
{%block contents%} 
  <br>
  <div class = "container" style="font-family: 'Chosunilbo_myungjo';">
      <br>
      <br>
      <div class = "container" >
          <div class="card" style="border-color:#4600a1; border-style:solid; border-radius:0px;">
              <form method="POST">
                  {% csrf_token %}
                  <table>
                    {{form.as_table}}
                  </table>
                  <br>
                  <input class="btn btn-dark" type="submit" value="제출">
                </form>
            </div>
            </div>
    </div>
    <br>
    <br>
    <br>
    <br>  
{%endblock%}
    